.background {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #156496;
  height: auto;
  background-image: url("../.././public/FFP.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background2 {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../.././public/FFP.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Main CSS and Media Query */
.main {
  background-color: #156496;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  height: auto;
  width: 80%;
  margin-bottom: 10%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media (max-width: 600px) {
  .main {
    width: 90%;
    margin: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .main {
    width: 75%;
    margin: 2rem;
  }
}

@media (min-width: 960px) {
  .main {
    width: 60%;
    margin: 2rem;
  }
}

@media (min-width: 1280px) {
  .main {
    width: 50%;
    margin: 3rem;
  }
}

.h1 {
  color: white;
  position: relative;
  /* font-family: cursive; */
  padding: 20px;
}

.inner {
  background-color: #e9e9eb;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
  margin-bottom: 10%;
  height: auto;
  width: 80%;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.margin {
  margin-top: 5%;
}

.resident {
  font-family: sans-serif;
  font-weight: 500;
}

.innerFinal {
  background-color: #e9e9eb;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
  margin-bottom: 10%;
  height: auto;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.output {
  background-color: #ee7e4b;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin-left: 13%;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dorpdown {
  width: 80%;
  margin: 2;
}

.button {
  height: 50px;
  width: 50px;
  margin-left: 75%;
  margin-top: 10%;
}

.finalOutput {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.span {
  background-color: white;
}

.backButton {
  background-color: #ee7e4b !important;
  color: white !important;
}

.infoIcon {
  margin-left: 10px;
  cursor: pointer;
  color: #ee7e4b;
}

.link {
  font-family: sans-serif;
  font-weight: 500;
  font-size:16pt;
}

.root {
  align-items: center;
  justify-content: center;
  width: 70%;
}

.table {
  border: 1px solid black !important;
  width: 50%;
}

.container {
  width: 50%;
}

.response {
  font-weight: bold !important;
  border: 1px solid black !important;
  border-bottom: 1px solid black;
  width: 50%;
}

.container {
  width: 50px;
  height: 50px;
  perspective: 1000px; /* Adjust perspective as needed */
}

.cube {
  width: 100%;
  height: 100%;
  margin-left: -450%;
  margin-top: -200%;
  transform-style: preserve-3d; /* Essential for 3D transformations */
  transition: transform 1s; /* Add smooth transitions */
  transform: rotateX(45deg) rotateY(45deg); /* Initial rotation */
}

.cube2 {
  width: 100%;
  height: 100%;
  margin-left: 450%;
  margin-top: -100%;
  transform-style: preserve-3d; /* Essential for 3D transformations */
  transition: transform 1s; /* Add smooth transitions */
  transform: rotateX(45deg) rotateY(45deg); /* Initial rotation */
}

.cube3 {
  width: 500%;
  height: 500%;
  justify-content: center;
  align-items: center;
  margin-left: -180%;
  margin-top: -180%;
  transform-style: preserve-3d; /* Essential for 3D transformations */
  transition: transform 2s; /* Add smooth transitions */
  transform: rotateX(30deg) rotateY(40deg); /* Initial rotation */
}

.cube:hover {
  transform: rotateX(70deg) rotateY(70deg); /* Rotate on hover */
}

.cube2:hover {
  transform: rotateX(70deg) rotateY(70deg); /* Rotate on hover */
}

.cube3:hover {
  transform: rotateX(70deg) rotateY(70deg); /* Rotate on hover */
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(21, 100, 150);
  border: 2px solid #ee7e4b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  /* font-family: 'Cubano'; */
  font-weight: bold;
  color: white;
}

.face3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(21, 100, 150);
  border: 2px solid #ee7e4b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
}

.front {
  transform: translateZ(25px);
}
.back {
  transform: rotateY(180deg) translateZ(25px);
}
.top {
  transform: rotateX(90deg) translateZ(25px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(25px);
}
.left {
  transform: rotateY(-90deg) translateZ(25px);
}
.right {
  transform: rotateY(90deg) translateZ(25px);
}
.front3 {
  transform: translateZ(125px);
}
@media (max-width: 600px) {
  .front3 {
    transform: translateZ(100px);
    width: 200px;
    height: 200px;
  }
}
.back3 {
  transform: rotateY(180deg) translateZ(125px);
}
@media (max-width: 600px) {
  .back3 {
    transform: rotateY(180deg) translateZ(100px);
    width: 200px;
    height: 200px;
  }
}
.top3 {
  transform: rotateX(90deg) translateZ(125px);
}
@media (max-width: 600px) {
  .top3 {
    transform: rotateX(90deg) translateZ(100px);
    width: 200px;
    height: 200px;
  }
}
.bottom3 {
  transform: rotateX(-90deg) translateZ(125px);
}
@media (max-width: 600px) {
  .bottom3 {
    transform: rotateX(-90deg) translateZ(100px);
    width: 200px;
    height: 200px;
  }
}
.left3 {
  transform: rotateY(-90deg) translateZ(125px);
}
@media (max-width: 600px) {
  .left3 {
    transform: rotateY(-90deg) translateZ(100px);
    width: 200px;
    height: 200px;
  }
}
.right3 {
  transform: rotateY(90deg) translateZ(125px);
}
@media (max-width: 600px) {
  .right3 {
    transform: rotateY(90deg) translateZ(100px);
    width: 200px;
    height: 200px;
  }
}

.pic {
  width: 250px;
  height: 250px;
}

@media (max-width: 600px) {
  .pic {
    width: 200px;
    height: 200px;
  }
}

.cubeFont {
  font-size: 35px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .cubeFont {
    font-size: 30px;
    font-weight: bold;
  }
}

.pic3 {
  width: 50px;
  height: 50px;
}

/* Top of page logo CSS and Media Query */
.pic1 {
  margin-top: 3%;
  width: 500px;
  height: 200px;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .pic1 {
    width: 300px;
    height: 100px;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .pic1 {
    width: 400px;
    height: 150px;
  }
}

@media (min-width: 960px) {
  .pic1 {
    width: 500px;
    height: 200px;
  }
}

@media (min-width: 1280px) {
  .pic1 {
    width: 500px;
    height: 200px;
  }
}

/* Form Control CSS and Media Query */
.formControl {
  width: 90%;
  margin: 2rem;
  gap: 10px;
}

@media (max-width: 600px) {
  .formControl {
    width: 90%;
    margin: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .formControl {
    width: 75%;
    margin: 2rem;
  }
}

@media (min-width: 960px) {
  .formControl {
    width: 60%;
    margin: 2rem;
  }
}

@media (min-width: 1280px) {
  .formControl {
    width: 50%;
    margin: 3rem;
  }
}

.joke {
  font-size: 7px;
  padding-left: 10%;
  padding-right: 10%;
}


